:root {
    --main-color:#009F66;
    --main-color-hover: #005e3b;
    --accent-color: #CFDFD9;
    --bg-color: #F2F2F2;
    --dark-text-color: #444444;
    --light-text-color: #FDFDFD;
    --grey-btn-color: rgba(7, 0, 0, 0.22);
    --chat-bubble-dark: #009F66;
    --chat-bubble-light: rgba(0, 159, 102, 0.1);
    --text-hint-color: #A3A3A3;
    --title-text-color: #009F66;
    --subtitle-text-color: #A3A3A3;
}
/* Import styles of roboto fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

/* Global styles */

html {
    /* padding: 0px; */
    /* margin: 0px; */
}

body {
    background-color: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    /* padding: 0px; */
    margin: 0px;
    height: 100vh;
}

.scene-title-box {
    background-color: var(--chat-bubble-light);
    width: 100%;
    /* height: 64px; */
}
 
.scene-title-text {
    color: var(--title-text-color);
    font-size: 32px;
    font-weight: 700;
    /* line-height: 64px; */
    display: inline;
}

.scene-subtitle-text {
    color: var(--subtitle-text-color);
    font-size: 24px;
    font-weight: 700;
    /* line-height: 64px; */
    display: inline;
}


/* Helper styles */

.space-horizontal-5 {
    padding-left: 5px;
    /* background-color: pink; */
    display: inline;
}

.space-horizontal-10 {
    padding-left: 10px;
    /* background-color: pink; */
    display: inline;
}

.space-horizontal-20 {
    padding-left: 20px;
    /* background-color: pink; */
    display: inline;
}

.space-vertical-10 {
    height: 10px;
}

.space-vertical-20 {
    height: 20px;
}

/* Chat screen styles */
.chat-bubble-parent-self {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-flow: row-reverse;
    float: right;
}

.chat-bubble-parent-they {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    float: left;
}

.chat-bubble-self {
    background-color: var(--chat-bubble-dark);
    color: var(--light-text-color);
    float: right;
}

.chat-bubble-they {
    background-color: var(--chat-bubble-light);
    color: var(--dark-text-color);
    float: left;
}

.chat-bubble-shape {
    /* width: 80vw; */
    flex-grow:0;
    padding: 8px;
    margin: 4px;
    border-radius: 8px;
}

.chat-label {
    color: var(--title-text-color);
    font-size: 12px;
    font-weight: bold;
    align-self: center;
    /*background: red;*/
    margin: 16px 10vw;
    padding: 4px 8px;
    text-align: center;
}

.start-chat-btn {
    background: var(--main-color);
    width: 100%;
    /*height: 32px;*/
    color: var(--light-text-color);
    padding: 8px 8px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.start-chat-btn:hover {
    background: var(--main-color-hover);
    cursor: pointer;
}

.info-bar{
    background-color: var(--bg-color);
    width: 100%;
    /* height: 40px; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding-top: 4px;
}

.info-label {
    height: 24px;
    width: 24px;
    margin-top: 8px;
    /* background-image: "../assets/svgs/info.svg"; */
    /* display: inline; */
    float: left;
}

.info-label-enabled {
    /* line-height: 15px; */
    font-size: 14px;
    color: var(--title-text-color);
    /* display: inline; */
    font-weight: 600;
    /* margin-top: 3px; */
}

.info-label-disabled {
    /* line-height: 15px; */
    font-size: 14px;
    color: var(--title-text-color);
    /* display: inline; */
    font-weight: 600;
    /* margin-top: 3px; */
}

.info-label-parent {
    display: inline;
    height: 30px;
    width: 60%;
    background-color: red;
}

.chat-area{
    margin-left: 64px;
    width: calc(100vw - 64px);
    height: 100vh;
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    flex-flow: column;
}

.chat-box {
    flex-grow: 1;
    /* height: 500px; */
    /* background-color: green; */
    overflow-y: scroll;
    margin-bottom: 40px;
    margin-left: 16px;
    margin-right: 16px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.chat-input-bar {
    position: absolute;
    z-index: 5;
    height: 40px;
    width: calc(100vw - 64px);
    bottom: 0;
    left: 64px;
    background-color: var(--bg-color);
    box-shadow: 0px -5px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.chat-input {
    border-radius: 8px;
    background-color: transparent;
    border-color: var(--light-text-color);
    width: calc(100vw - 20px - 75px - 64px);
    height: 30px;
}

.chat-input-div {
    height: 30px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100vw - 20px - 75px - 64px);
    background-color: var(--light-text-color);
    border-radius: 8px;
    float: left;
}

.chat-btn {
    height: 30px;
    width: 30px;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 5px;
    display: inline-block;
    background-color: var(--grey-btn-color);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.tts-icon {
    background-image: url("../svgs/tts-icon.svg");
}

.asr-icon {
    background-image: url("../svgs/asr-icon.svg");
}

.chat-btn:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}

.chat-btn-selected {
    background-color: var(--main-color);
}

/* Nav bar */
.scene-sidenav-vertical {
    float: left;
    height: 100vh;
    width: 64px;
    background-color: var(--main-color);
    z-index: 10;
    position: fixed;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-icon-template {
    height: 60px;
    width: 60px;
    margin-left: 1px;
    margin-top: 8px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-icon-template:hover {
    cursor: pointer;
    background-color: var(--grey-btn-color);
}

.nav-icon-ham {
    background-image: url("../svgs/nav-ham.svg");
    margin-top: 16px;
}

.nav-icon-close {
    background-image: url("../svgs/nav-close.svg");
    margin-top: 16px;
}

.nav-icon-chat {
    background-image: url("../svgs/nav-chat.svg");
}

.nav-icon-settings {
    background-image: url("../svgs/nav-settings.svg");
}

.nav-icon-diagnostics {
    background-image: url("../svgs/nav-diagnostics.svg");
}

.nav-icon-help {
    background-image: url("../svgs/nav-help.svg");
}

.sidenav-opened {
    width: 300px;
}

.sidenav {
    height: 100vh;
    width: 0px;
    position: fixed;
    background-color: var(--main-color);
    transition: 0.3s;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.nav-z {
    z-index: -15;
}

.sidenav-element {
    height: 60px;
    width: 98%;
    margin-left: 0.8%;
    margin-top: 8px;
    /* background-color: var(--grey-btn-color); */
    border-radius: 8px;
    background-repeat: no-repeat;
    background-position: left;
}

.sidenav-element:hover {
    cursor: pointer;
    background-color: var(--grey-btn-color);
}

.nav-selected {
    background-color: var(--grey-btn-color);
}

.nav-selected:hover {
    cursor: default;
}

.sidenav-element-no-hover {
    height: 60px;
    width: 98%;
    margin-left: 0.8%;
    margin-top: 16px;
    /* background-color: var(--grey-btn-color); */
}

.sidenav-opened-text {
    color: var(--light-text-color);
    line-height: 60px;
    font-size: 20px;
    font-weight: 700;
}

.sidenav-opened-icon {
    float: left;
    height: 60px;
    width: 60px;
    margin-top: 0px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: var(--grey-btn-color); */
}

.sidenav-opened-icon-hover {
    float: left;
    height: 60px;
    width: 60px;
    margin-top: 0px;
    margin-right: 8px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.sidenav-opened-icon-hover:hover {
    cursor: pointer;
    background-color: var(--grey-btn-color);
}

.sidenav-element-bottom {
    position: absolute;
    bottom: 8px;
}